* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #000;
  color: #fff;
  overflow: hidden;
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.slider {
  position: relative;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  animation: rotate 20s linear infinite;
  transform: translateY(-240px); 
  margin-top: -269px;
}

.items-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.item {
  position: absolute;
  width: 112px;
  height: 200px;
  transform: rotateY(calc(360deg / var(--quantity) * (var(--position) - 1))) translateZ(500px);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 12px #fff;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.content {
  position: absolute;
  bottom: 30px;
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.author h2 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #f2f2f2;
}

.author p {
  font-size: 1rem;
  color: #ccc;
  margin-top: 5px;
  max-width: 500px;
}
